
html, body
{
    margin: 0;
    padding: 0;

    overflow: hidden;

    font-family: 'Hanken Grotesk', 'Roboto', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

h2, h3, h4, h5 {
    font-family: 'Roboto', 'Ubuntu', Helvetica, Arial, sans-serif;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 1.5em);
    /* height: 2em; */
    z-index: 20;

    padding: 0.5em;
    padding-right: 1em;

    color: white;
    
    overflow: hidden;
    
}

header::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 110%;
    
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    
    transition: background-color 0.4s;
    content: ' ';
}

header:hover::before {
    /* background-color: #285cbd6c; */
}

header h1, header #version
{
    display: inline;
    margin: 0;
    font-family: "BigNoodleTitling", Arial, Helvetica, sans-serif;
}

div#map-container
{
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 100vw;

    background-color: #424242;
}

.ol-zoom.ol-unselectable
{
    left: 10px;
    top: calc(3em + 10px);
}

button.material {
    margin: 0.5em;
    padding: .5em 1em;
    background-color: #285cbd;
    color: white;

    border: none;
    border-radius: 5px;

    box-shadow: 0 0 5px black;
}

progress {
    border-radius: 0;
    border: none;
}

@font-face
{
    src: url("../res/fonts/big_noodle_titling.ttf");
    font-family: 'BigNoodleTitling';
}