
html, body
{
    margin: 0;
    padding: 0;

    font-family: "BigNoodleTitling", Arial, Helvetica, sans-serif;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    z-index: 2;

    padding: 0.5em;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;

    transition: background-color 0.4s;
}

header:hover
{
    background-color: #285cbd;
}

header h1
{
    display: inline;
    margin: 0;
}

div#map-container
{
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 100vw;

    background-color: #424242;
}

.ol-zoom.ol-unselectable
{
    left: 10px;
    top: calc(3em + 10px);
}

@font-face
{
    src: url("../res/fonts/big_noodle_titling.ttf");
    font-family: 'BigNoodleTitling';
}